@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Nunito&display=swap');
@import url('https://db.onlinewebfonts.com/c/021120d820562daab169a2337ab13040?family=Helvetica+Neue');
@font-face {
  font-family: "Helvetica Neue"; src: url("https://db.onlinewebfonts.com/t/021120d820562daab169a2337ab13040.eot"); 
  src: url("https://db.onlinewebfonts.com/t/021120d820562daab169a2337ab13040.eot?#iefix") format("embedded-opentype"), 
      url("https://db.onlinewebfonts.com/t/021120d820562daab169a2337ab13040.woff2") format("woff2"), 
      url("https://db.onlinewebfonts.com/t/021120d820562daab169a2337ab13040.woff") format("woff"), 
      url("https://db.onlinewebfonts.com/t/021120d820562daab169a2337ab13040.ttf") format("truetype"), 
      url("https://db.onlinewebfonts.com/t/021120d820562daab169a2337ab13040.svg#Helvetica Neue") format("svg"); 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding: 0em;
  background: #000;
  background-image: url('./image/stars.png');
  /* background-image: linear-gradient(-45deg,rgb(0, 90, 170),rgb(0, 10, 30),rgb(0, 90, 170)); */
  height: 100vh;
  overflow-x: hidden;
  animation: bgAnimation 60s linear infinite;
}
  @keyframes bgAnimation {
    to{background-position: 100%;}
  }
.title{
  position: relative;
  display: inline-flex;
  font-family: 'Helvetica Neue';
  letter-spacing: -0.5rem;
  font-size: 5.5em;
  padding: 1rem;
  color: transparent;
  overflow: hidden;
  background: linear-gradient(to right,white 50%,red 50%);
  background-size: 200%;
  background-clip: text;
  transition: 2s;
}
  .title:hover{
    background-clip: text;
    background-position: -100%;
  }
.subTitleEx{
  color: #fff; 
  font-family: 'Noto Sans JP', sans-serif;
  cursor: default;
}
.subTitle{
  display: inline-flex;
  color: #fff; 
  font-family: 'Noto Sans JP', sans-serif;
  cursor: default;
  padding: -1em auto 1em
}
  .subTitle span{
    font-family: 'Helvetica Neue';
    padding: 0 0.1em;
    color: transparent;
    -webkit-text-stroke: 1px gray;
    position: relative;
    background: linear-gradient(to right,transparent 80%,red 20%);
    background-size: 200%;
    background-clip: text;
  }
    .subTitle span::after{
      position: absolute;
      content: 'X';
      left: 0.1em;
      top: 0;
      transition: 0.5s;
    }
      .subTitle:hover.subTitle span::after{
        color: red;
        text-shadow: 0 0 1em red;
      }
      .subTitle:hover.subTitle span{
        animation: subTitleSpanAnimation 1s linear;
      }
        @keyframes subTitleSpanAnimation {
          to{
            background-position: -150%;}
        }
.hr{
  width: 100%;
  height: 1px;
  background: gray;
  margin: 5em 0;
}
/* /////////////Logos////////////// */
.logoImgBox{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.xb1and2LogoBox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@media (max-width: 999px) {
  .subTitle{
    margin-bottom: 1em;
  }
}

@media (max-width: 851px) {
  .xb1and2LogoBox{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 801px) {
  .title{
    letter-spacing: 0;
    background: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0 0 0.5em gray;
  }
    .title:hover{
      color: red;
      background-position: 0;
    }
}

@media (max-width: 531px) {
  .subTitle{
    padding: 0.5em
  }
}

@media (max-width: 391px) {
  .App{
    padding: 1em;
  }
  .title{
    font-size: 3.5em ;
  }
  .xb1and2LogoBox{
    flex-direction: column;
    align-items: center;
  }
}
